.profile-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
}

/* Product Card Styling */
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}
